/* Base Style */

* {
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.main-wrapper {
  width: 90%;
  margin: 0 auto;
}

.intro {
	margin-top: 70px;
	margin-bottom: 80px;
}

.intro p {
	font-size: 1.25em;
	line-height: 1.5;
	font-family: 'Archivo Narrow', sans-serif;
}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 60px;
	color: #3a2f24;
	text-align: center;
	font-weight: 700;
}

h3 {
	font-size: 1.25em;
	text-align: center;
	color: #7f7a7a;
	font-weight: 700;
}

a {
  text-decoration: none;
	color: #3a2f24;
}

p {
	color: grey;
	text-align: center;
	font-size: 1.19em;
	line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
	margin: auto;
}

.top,
.bottom-name {
	font-weight: 700;
	color: #3a2f24;
}

.top {
	text-transform: uppercase;
	float: right;
	font-size: .9em;
}

.mobile-bottom {
	font-weight: bold;
	border-top: 1px solid lightgrey;
	padding: 30px 0;
}

.profile-pic {
	width: 75%;
	display: block;
}

.name {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 45px;
	color: #3a2f24;
	font-weight: 700;
}

.main-nav  {
	text-align:center;
	margin-bottom: 40px;
	color: #3a2f24;
	font-weight: 700;
}

.main-nav {
	text-transform: uppercase;
}

.contact {
	margin-top: 50px;
	margin-bottom: 100px;
}

.contact h2 {
	color: #7f7a7a;
	margin-bottom: 20px;
}

.contact p {
	display: inline-block;
	margin: 30px auto 0;
	width: 100%;
}

.contact a {
	color: #7f7a7a;
	font-weight: 700;
}

.phone {
	color: #7f7a7a;
	font-weight: 700;
}


ul {
  list-style: none;
	padding: 0;
}

.bottom-nav {
	display: none;
}

.icon {
	display: block;
	 max-width: 10%;
	 height: auto;
	 margin: auto;
}

.skills h3 {
	margin-top: 80px;
}

/* Media Queries */

@media (min-width: 768px) {
	.name,
	.main-nav a {
		display: inline-block;
	}

	#portfolio {
		margin-top: 120px;
	}

	.name {
		width: 100%;
		margin-top: 40px;
	}

	ul {
		text-align: center;
	}

	a {
		padding: 0 15px;
	}

	a:hover {
		color: lightgrey;
	}


	.profile-pic {
		 max-width: 40%;
		 height: auto;
		 margin: auto;
		 float: right;
		 padding-left: .7em;
		 padding-right: .7em;
	}

	.intro p {
		text-align: left;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	.top {
		display: none;
	}

	.bottom-nav {
		display: inline-block;
		float: right;
		margin-top: 0;
	}

	.bottom-nav li {
		display: inline-block;
	}

	.col {
		float: left;
		width: 50%;
		padding: 10px;
	}

	.contact p {
		padding: 0 15%;
		text-align: center;
	}

	.skills h3 {
		margin-top: 1250px;
	}

}

@media (min-width: 1024px) {
	.intro p {
		max-width: 60%;
	}

	#portfolio {
		margin-top: 230px;
	}

	.bottom-nav {
		display: inline-block;
		float: right;
		margin-top: 0;
	}

	.bottom-nav li {
		display: inline-block;
	}

	.main-nav {
		float: right;
		margin-top: 55px;
	}

	.main-nav li {
		display: inline-block;
	}

	.col {
		float: left;
		width: 33.33%;
		padding: 10px;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	#contact {
		margin-top: 50px;
		margin-bottom: 0;
	}

	.skills h3 {
		margin-top: 900px;
	}

	.contact p {
		padding: 0 15%;
		text-align: center;
	}

	.name {
		width: auto;
	}

}
